@font-face {
    font-family: 'LeeSeoyun';
    src: url('../font/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;500;600;700;800;900&family=Montserrat:wght@100;300;400;600&family=Noto+Sans+KR:wght@200;300;500;600;700&display=swap');