ul, li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.ft18 {
  font-size: 18px;
}

.ft3 {
  font-size: 3rem;
  font-weight: 600;
}

#kimgarim {
  font-family: "LeeSeoyun";
}
#kimgarim header h1 {
  padding: 10px;
}
#kimgarim header h1 img {
  height: 3rem;
}
#kimgarim #about .aboutinner {
  padding-top: 80px;
}
#kimgarim #about h2 {
  line-height: 1.5;
}
#kimgarim #about h4 {
  line-height: 2;
}
#kimgarim #about div.my-bg {
  width: 54rem;
  border: 1px solid black;
  background-image: url(../assets/img/aboutimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#kimgarim #about button.aboutB {
  position: relative;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  opacity: 1;
}
#kimgarim #about button.aboutB a.abouta {
  text-decoration: none;
  color: #0070BF;
  font-size: 22px;
}
#kimgarim #about button.aboutB a.abouta:before {
  content: "";
  position: absolute;
  right: -10px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0070BF;
  opacity: 0.2;
}
#kimgarim #about button.aboutB a.abouta::beforehover {
  transform: scale(1.5);
  transition: 0.5s;
}
#kimgarim #about button.aboutB a.abouta:after {
  font-family: "bootstrap-icons" !important;
  content: "\f138";
  display: inline-block;
  width: 20px;
  height: 20px;
}
#kimgarim #portfoliointro .pt-wrap {
  padding: 30px 0;
}
#kimgarim #portfoliointro div.back {
  width: 951px;
  height: 536px;
  background-image: url(../assets/img/iwellback.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
#kimgarim #portfoliointro div.back2 {
  width: 951px;
  height: 536px;
  background-image: url(../assets/img/reactback.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
#kimgarim #portfoliointro .circle {
  display: flex;
  justify-content: center;
}
#kimgarim #portfoliointro .circle img {
  vertical-align: middle;
}
#kimgarim #portfoliointro button.ptB {
  border: none;
  background-color: transparent;
}
#kimgarim #portfoliointro button.ptB a {
  text-decoration: none;
  color: black;
}
#kimgarim footer h2 {
  line-height: 1.5;
}
#kimgarim footer p {
  font-size: 1.3rem;
}
#kimgarim footer button.ftB {
  border: none;
  background-color: transparent;
}
#kimgarim footer button.ftB a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}
#kimgarim .bubbles {
  position: absolute;
  top: 0;
  z-index: -9999;
  display: flex;
  justify-content: space-around;
}
#kimgarim .bubbles span {
  overflow: hidden;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  animation: bubbelUp 15s linear infinite;
}
#kimgarim .bubbles span.purple {
  background-color: #D9D7F1;
}
#kimgarim .bubbles span.yellow {
  background-color: #FFFDDE;
}
#kimgarim .bubbles span.green {
  background-color: #E7FBBE;
}
#kimgarim .bubbles span.pink {
  background-color: #FFCBCB;
}
#kimgarim .bubbles span.blue {
  background-color: #D6E5FA;
}
#kimgarim .bubbles span.b1 {
  animation-duration: 30s;
}
#kimgarim .bubbles span.b2 {
  animation-duration: 20s;
}
#kimgarim .bubbles span.b3 {
  animation-duration: 10s;
}
#kimgarim .bubbles span.b4 {
  animation-duration: 7.5s;
}
#kimgarim .bubbles span.b5 {
  animation-duration: 8s;
}
@keyframes bubbelUp {
  0% {
    opacity: 0.3;
    transform: translateY(2800px) scale(0.4);
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.1;
    transform: translateY(0px) scale(1.7);
  }
}/*# sourceMappingURL=kgr.css.map */