ul,li{list-style: none;}
.container{
  width: 1200px;
  margin: 0 auto;
}
.ft18{font-size: 18px;}
.ft3{font-size: 3rem; font-weight: 600;}
.ft20{font-size: 20px;}

// start
#kimgarim{
  font-family: 'LeeSeoyun';
  //header 시작
    header{
      h1{
        padding: 10px;
        img{
          height:3rem;
        }
      }
   }
   //about 시작
   #about{
        .aboutinner{
            padding-top: 80px;
        }
        h2{
            line-height: 1.5;
        }
        h4{
          line-height: 2;
        }
        div.my-bg{
          width: 54rem;
          border: 1px solid black;
          background-image: url(../assets/img/aboutimg.jpg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        button.aboutB{
        position: relative;
        background-color: transparent;
        border: none;
        border-radius: 0;
        outline: none;
        opacity: 1;
            a.abouta{text-decoration: none; color: #0070BF;
            font-size: 22px;
            &:before{
            content: "";
            position: absolute;
            right: -10px;
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #0070BF;
            opacity: 0.2;
                &hover{
                transform: scale(1.5);
                transition: 0.5s;
                }
            }
        &:after{
          font-family: 'bootstrap-icons' !important;
          content: "\F138";
          display: inline-block;
          width: 20px;
          height: 20px;
        }
        }
      }
    }
//portfoliointro 시작
    #portfoliointro{
      .pt-wrap{
        padding: 30px 0;
      }
      div.back{
        width: 951px;
        height: 536px;
        background-image: url(../assets/img/iwellback.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        background-color:  transparent;
      }
    div.back2{
      width: 951px;
      height: 536px;
      background-image: url(../assets/img/reactback.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
      background-color:  transparent;
    }
    .circle {
      display: flex;
      justify-content: center;
  }
  
  .circle img {
      vertical-align: middle; 
  }

  button.ptB{
    border: none;
    background-color: transparent;
    a{
      text-decoration: none;
      color: black;
      font-size: 1.5rem;
    }
  }
  div.static{
    position: static;
    background-color: transparent;  
  }
  }
  //mainskill 시작
  #mainskill{
    li{
      display: flex;
      justify-content: space-between;
      margin-top: 14px;
      div.skillname{    
        align-items: center;
        color: rgba(0,0,0,.7);
        display: flex;
        font-size: 22px;
        font-weight: 600;
        justify-content: center;
        width: 180px;
        }
        div.ability-bar{
          background-color: #eee;
          border-radius: 5px;
          box-shadow: 1px 1px 6px 1px rgba(0,0,0,.3);
          display: flex;
          flex-direction: column;
          height: 32px;
          justify-content: center;
          padding: 0 1px;
          width: 920px;

          div.ability-percent{
            align-items: center;
            animation-duration: 3s;
            animation-timing-function: linear;             
            background: linear-gradient(90deg,#dbcfff,#dca3ff);
            border-radius: 0 15px 15px 0;
            display: flex;
            height: 30px;
            justify-content: flex-end;
            padding: 0 20px;
            
            span.percent{
              color: #fff;
              font-size: 18px;
            }
          }  
          div.jdQiML { width: 80%; 
           
          }
          div.jdQiML7 {width: 70%; 
           
          }
          
          div.jdQiML6 {width: 65%;
           
          }
          div.jdQiML4{ width: 40%;
            
          }
          div.jdQiML3{ width: 30%;
           
          }

          

    }


  }
}


}

  //footer 시작
  footer{
    h2{line-height: 1.5;}
    p{font-size: 1.3rem;}
    button.ftB{
      border: none;
      background-color: transparent;
      a{
        text-decoration: none;
        color: black;
        font-size: 1.3rem;
      }
    }
   
  
}
//버블효과
.bubbles {
  position:absolute;
  top: 0;
  z-index: -9999;
  display: flex;
  justify-content: space-around;
  
  span {
      overflow: hidden;
      width: 7vw;
      height: 7vw;
      border-radius: 50%;
      animation: bubbelUp 15s linear infinite;
      
      &.purple {
          background-color: #D9D7F1;
      }
      &.yellow {
          background-color: #FFFDDE;
      }
      &.green {
          background-color: #E7FBBE;
      }
      &.pink {
          background-color: #FFCBCB;
      }
      &.blue {
          background-color: #D6E5FA;
      }
      &.b1 {
          animation-duration: calc(30s/1);
      }
      &.b2 {
          animation-duration: calc(40s/2);
      }
      &.b3 {
          animation-duration: calc(30s/3);
      }
      &.b4 {
          animation-duration: calc(30s/4);
      }
      &.b5 {
          animation-duration: calc(40s/5);
      }
  }

  @keyframes bubbelUp {
      0% {
          opacity: 0.3;
          transform: translateY(2800px) scale(0.4);
      }
      75% {
          opacity: 0.8;
      }
      100% {
          opacity: 0.1;
          transform: translateY(0px) scale(1.7);
      }
  }
}


.action{
  animation-name: SkillUp ;
}

@keyframes SkillUp {
  0% {
      width: 0;
  }
  50%{
    width: 50%;
  }
  100% {
      width: 80%;
  }
}